@import "colors";

.main {
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: calc(400px + 6rem);
  align-items: flex-start;
}

.banner {
  max-height: 700px;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -10;
}

.logo {
  width: 15rem;
  margin: 2em 0 0 2rem;
  cursor: pointer;
}

.content {
  width: 80vw;
  max-width: 1440px;
  align-self: center;
  background-color: #fff;
  transform: translateY(400px);
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);

  .contentLeft {
    width: 100%;
    border: 0;
    border-radius: 20px 0 0 20px;
    padding: 3rem;
    align-items: flex-start;
    justify-content: flex-start;

    .contentTitle {
      padding-bottom: 1rem;

      .icon {
        width: 100px;
      }
    }
  }

  .contentRight {
    width: 100%;
    border: 0;
    border-radius: 0 20px 20px 0;
    background-color: $gray;
    padding: 3rem;
    align-items: flex-start;
    justify-content: center;

    .list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .item {
      margin-bottom: 1rem;
    }

    .dots {
      width: 20px;
      margin-right: 8px;
      color: $secundary;
    }
  }
}

.detailsArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  max-width: 1200px;
  padding: 2rem;
}

.detailsContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .detailsArea {
    flex-direction: column;
  }

  .content {
    flex-direction: column;

    .contentRight {
      border-radius: 0 0 20px 20px;
    }
  }
}
