@import "colors";

.container {
  // justify-content: end;
  // align-items: center;
  background: linear-gradient(to top, $gray, $gray 85%, transparent 85%);
  width: 100%;
  margin-top: 100px;

  .footer {
    width: 100%;
    height: 50px;
    font-family: Poppins;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
    color: $primary;
    line-height: 130%;

    .willbe {
      width: 30px;
      padding: 0px 4px 0px 8px;
    }
  }
}
